
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("assets/Roboto-Regular.ttf") format("Roboto-Regular"),
  url("assets/Roboto-Regular.ttf") format("Roboto-Regular");
}

.book .book-header h1 {
  opacity: 1;
  text-align: left;
}

.book.font-family-1, .book .book-header, .book .book-summary {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}

#header .title {
  margin-bottom: 0em;
}
#header h4.author {
  margin: 0;
  color: #666;
}
#header h4.author em {
  font-style: normal;
}